{% extends 'base.html' %}

{% block head %}


{% endblock %}
{% block body %}
<div class="ui padded grid">
  <div
    class="two wide tablet only two wide computer only column"
    id="sidebar"
  >
    <div class="ui massive vertical borderless fluid text menu">
      <a href="/overview" class="item">Overview <em data-emoji=":clipboard:" class="small"></em></a>
      <a href="/create_task" class="item">Create Task <em data-emoji=":crayon:" class="small"></em></a>
      <a href="/task_reports" class="item">Task Reports <em data-emoji=":bar_chart:" class="small"></em></a>
      <a href="/database" class="item">Database <em data-emoji=":card_box:" class="small"></em></a>
      <a href="/bot_settings" class="active item">Bot Settings <em data-emoji=":tools:" class="small"></em></a>
    </div>
  </div>
  <div
    class="sixteen wide mobile fourteen wide tablet fourteen wide computer right floated column"
    id="content"
  >
    <div class="ui center aligned padded grid">
      <div class="row">
        <h1 class="ui huge dividing header">Resources</h1><br> <br>
      </div>
      <div class="center aligned row">
        <div
          class="eight wide mobile seven wide tablet seven wide computer center floated column"
        >
        <div class="ui teal raised segment" data-tooltip="Number of rotating proxies in your webshare account">
        <div class="ui statistic">

          <div class="value">
          {{proxy_count}}
          </div>
          <div class="label"><br>
            <i class="teal project diagram icon"> </i>AVAILABLE PROXIES
          </div>
          </div>
          </div>
        </div>


        <div
          class="eight wide mobile seven wide tablet seven wide computer center  floated column"
        >
        <div class="ui olive raised segment" data-tooltip="Number of active droplets synchronized with your digital ocean account">
        <div class="ui statistic">
          <div class="value">
          {{num_bots}}
          </div>
          <div class="label"><br>
            <i class="olive robot icon" ></i> ACTIVE BOTS
          </div>
          </div>
          </div>
        </div>
      </div>
      <div class="ui hidden section divider"></div>
      <div class="row">
        <h1 class="ui huge dividing header">Bot Static IP List</h1>
      </div>
      <div class="row">
        <div class="ui raised segment">


          <table class="ui very basic collapsing celled table">
            <thead>


              <tr>
                <th>Bot Name</th>
                <th>Status</th>
                <th>Static IP</th>
            </tr>
          </thead>
            <tbody>
                            {%for i in bots%}
              <tr>
                <td>
                  <h4 class="ui image header">
                      <i class="olive robot icon" ></i>
                    <div class="content">
                      AutoBot-{{i.id}}

                  </div>
                </h4></td>
                <td>
                  {{i.status}}
                </td>
                <td>
                  {{i.digital_ocean_ip}}
                </td>
              </tr>
              {%endfor%}



            </tbody>
            <tfoot class="full-width">
    <tr>

      <th colspan="4">
        <div class="ui right floated small primary labeled icon button">
          <i class="robot icon"></i> Add Bot
        </div>
        <div class="ui red small button">
          Delete Bot
        </div>
      </th>
    </tr>
  </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui tiny modal">
<div class="header">Please type in the static IP of the new bot</div>
<form method="POST" class="ui padded form">
  <div class="field"> <br>
    <input type="text" name="digital_ocean_ip" placeholder="Static IP">
  </div>

  <button formaction="/add_bot" class="ui right floated green button" type="submit">Add Bot</button>
</form>
</div>

<div class="ui small modal">
<div class="header">Please type in the name of the bot you want to terminate (ex. AutoBot-1)</div>
<form method="POST" class="ui padded form">
  <div class="field"> <br>
    <input type="text" name="bot_name" placeholder="Bot Name">
  </div>

  <button formaction="/delete_bot" class="ui right floated red button" type="submit">Delete</button>
</form>
</div>


<script>
  $(document).ready(function() {
    $(".ui.toggle.button").click(function() {
      $(".mobile.only.grid .ui.vertical.menu").toggle(100);
    });
  });

</script>
<script>
$(document).ready(function()  {
  $('.ui.right.floated.green.button').click(function(){
    $('body')
      .toast({
        title: 'Added a new bot!',
        message: 'The new bot will be displayed shortly',
        showProgress: 'bottom',
        classProgress: 'red'
      })
      ;
  });
});
</script>
<script>
$(document).ready(function()  {
  $('.ui.icon.button').click(function(){
    $('.ui.tiny.modal').modal({detachable:false}).modal('show');
  });
});
</script>
<script>

  $(document).ready(function()  {
    $('.ui.red.button').click(function(){
      $('.ui.small.modal').modal({detachable:false}).modal('show');
    });
  });
</script>
{% endblock %}
